.day-card {
    background-color: #FFFFFF;
    width: 64px;
    height: 84px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid #eee;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 'Lexend Deca', sans-serif;
    gap: 8px;
}


.day-card.selected {
    background: #5F33E1 !important;
    color: white !important;
    border: 1px solid #5F33E1 !important;
}


.day-number {


        font-family: 'Lexend Deca', sans-serif;
    font-weight: 400; 
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 4px;
    opacity: 0.7;
    
}


.day-month {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600; 
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 4px;
}


.day-weekday {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400; 
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 0.7;
}


.day-card.selected .day-number,
.day-card.selected .day-month,
.day-card.selected .day-weekday {
    color: white !important;
    opacity: 1;
}